.img2 {
  width: 50vw;
}

#aboutbox {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.con {
  width: 250px;
  height: 400px;
  border: 2.5px;
  border-color: #4f7942;
  border-style: solid;
  border-radius: 5px;
  margin-left: 3vw;
}
#us {
  display: flex;
  border: 2.5px;
}
.huh {
  width: 100px;
  margin-top: 40px;
}
#jos {
  height: 100px;
  width: 100px;
  margin-top: 40px;
}
#if {
  width: 70vw;
}
