
#img2{
    width:35vw;
}
/* #if{
    width:70vw;
} */
#aboutbox{
    width:100%;
    height:100%;
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.con{
    width: 250px;
    height:100%;
    border: 2.5px;
    border-color: #4f7942;
    border-style: solid;
    border-radius: 5px;
    margin-left:3vw;
}
#us{
    display:flex;
    height:55vh;
    border: 2.5px;
    /* border-color: #4f7942;
    border-style: solid;
    justify-content: center; */
}
.huh{
    width: 100px;
    margin-top: 40px;
}
#jos{
    height:100px;
    width:100px;
    margin-top:40px;
}
#if{
width:70vw;
}