.main-footer {
  background-color: #4f7942;
  color: white;
  text-align: center;
  height: 75px;
  position: sticky;
  bottom: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.col {
  display: inline-flex;
  flex-direction: row;
}
hr {
  width: 100%;
}
.item {
  padding-left: 1vw;
  font-size: 8px;
}
.item1 {
  padding-left: 1vw;
  width: 40px;
  height: 20px;
}
img {
  height: 100%;
}
