#bar{
    background-color: #4F7942;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#log{
    color:white;
    height:50px;
    text-align:center;
    padding-top:15px;
    width:max-content;
    position:absolute;
    left:3vw;
}
#logout{
    text-align: right;
    margin-right: 3vw;
    margin-top: 7px;
    position:absolute;
    right:0;
}
#bb{
    display: flex;
    justify-content: center;
    position:absolute;
    left:41vw;
}
.nav{
    color:white;
    padding-left: 10px;
    padding-right:10px;
    height:50px;
    text-align:center;
    padding-top:15px;
    width:max-content;
}

.nav:hover{
    color:black;
    background-color: #a9b8a4;
}

.nav:active{
    color:white;
}




